form {
  margin: 0;
}

.form-item,
.form-buttons {
  display: flex;
  position: relative;
  margin-bottom: 1em;
}

.form-multiple {
  input {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-buttons button {
  justify-content: flex-end;
}

.form-option {
  margin-top: 0.5em;
  padding-left: 22%;
  display: flex;
  button {
    margin-left: 0.5em;
    width: 200px;

    & + button {
      margin-left: 0.5em;
    }
  }
}

.labels {
  display: flex;
  padding-left: 22%;
  div {
    padding-left: 1em;
    display: block;
    flex: 1;
  }
}

label {
  display: block;
  width: 22%;
  text-align: right;
  position: relative;
  top: 0.5em;
  padding-right: 0.5em;
}

input + label {
  width: auto;
  position: relative;
  top: 0em;
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  flex: 6;
  font-family: Carme, sans-serif;
  font-size: 1em;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0.4em 2px;
  padding-inline-start: 0.75em;
  border: solid 2px black;
  outline: none;

  &:active {
    border: solid 2px rgb(40, 40, 40);
  }
}

textarea {
  resize: vertical;
}

input[type='checkbox'] {
  max-width: 10px;
  flex: 1;
}

input[type='number'] {
  max-width: 60px;
  flex: 1;
}

select {
  height: 33.5px;
  width: calc(100% + 1em);
}

button {
  color: White;
  font-weight: bold;
  background-color: #4e5823;
  cursor: pointer;
  cursor: hand;
  width: 100%;
  flex: 6;
}

.icon-only {
  width: 24px;
  height: 24px;
  padding: 3px;
  border: none;
}

button:hover {
  background-color: #5b662b;
}

.box--tertiary button {
  background-color: #8c330f;

  &:hover {
    background-color: #984a2b;
  }
}
