form {
  margin: 0;
}

.form-item,
.form-buttons {
  display: flex;
  margin-bottom: 1em;
}

.form-buttons button {
  justify-content: flex-end;
}

label {
  display: block;
  width: 22%;
  text-align: right;
  position: relative;
  top: 0.5em;
  padding-right: 0.5em;
}

input + label {
  width: auto;
  position: relative;
  top: 0em;
}

input,
button,
select,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  flex: 6;
  font-family: Carme, sans-serif;
  font-size: 1em;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0.4em 2px;
  padding-inline-start: 0.75em;
  border: solid 2px black;
}

input[type='checkbox'] {
  max-width: 10px;
  flex: 1;
}

select {
  height: 33.5px;
  width: calc(100% + 1em);
}

button {
  color: White;
  font-weight: bold;
  background-color: #8c330f;
  cursor: pointer;
  cursor: hand;
  width: 100%;
  flex: 6;
}

button:hover {
  background-color: #984a2b;
}
